:root {
  --sm-black: #000000;
  --sm-white: #ffffff;
  --sm-gray: #727171;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Matter Light";
}
*::selection {
  color: var(--sm-white);
  background-color: var(--sm-black);
}
body,
html {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  background-color: var(--sm-white);
}
#home {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sm-white);
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}
#nav img {
  width: 100px;
}
#nav #right {
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav a {
  text-decoration: none;
  font-weight: 500;
  color: var(--sm-black);
  font-size: 1vw;
  letter-spacing: -2px;
}
#nav i {
  margin-top: 3px;
  font-size: 20px;
}
#home #homemain {
  width: 100%;
  padding: 15vw 15vw;
}
#homemain h2 {
  font-weight: 400;
  font-size: 1.5vw;
  letter-spacing: -0.1vw;
}
.headings {
  display: flex;
  gap: 40px;
}
#homemain .headings h1 {
  font-size: 7vw;
  font-weight: 900;
  letter-spacing: -8px;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px var(--sm-black);
}
#homemain .headings h1:hover {
  color: var(--sm-black);
}
#homelast {
  padding: 5vw 15vw;
}
#homelast p {
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: -0.08vw;
}
#homelast p::selection {
  color: var(--sm-white);
  background-color: var(--sm-black);
}
#featured {
  padding: 10vw 15vw;
}
.fheading > h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}
.fheading > h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px var(--sm-black);
}
#fimages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-top: 5vw;
}
#fleft {
  overflow: hidden;
  width: 45%;
  height: inherit;
}
.fleftelm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: inherit;
}
.fleftelm h2 {
  font-size: 2.5vw;
  line-height: 1;
  font-weight: 400;
  margin: 1.5vw 0;
}
.fleftelm h3 {
  font-size: 1vw;
}
.fleftelm h4 {
  opacity: 0.5;
}
#fright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  height: inherit;
}
#fright .images {
  width: 90%;
  height: 90%;
}
#fright .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btndiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btndiv button {
  padding: 1.3vw 2.5vw;
  border-radius: 100px;
  border: 2px solid var(--sm-gray);
  background-color: var(--sm-white);
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: -1px;
}
#dev {
  width: 100%;
  padding: 5vw 15vw;
}
#dev h2 {
  font-size: 3.8vw;
  font-weight: 400;
  width: 60%;
  line-height: 1;
}
#dev p {
  font-size: 1.5vw;
  margin-top: 3vw;
  letter-spacing: -0.5px;
  width: 60%;
}
#slides {
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
}
.slide {
  width: 30%;
}
.slide .img {
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;
}
.slide .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide .tag {
  margin: 20px 0;
  padding: 10px 22px;
  border-radius: 100px;
  width: fit-content;
  background-color: var(--sm-gray);
  color: var(--sm-white);
}
.slide h3 {
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: var(--sm-black);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
.cursorGrow {
  scale: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(45deg, var(--sm-gray), var(--sm-black));
  color: var(--sm-white);
  z-index: 1;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
